.container{
    margin: auto;
    width:50%;
    color: #ff6332;
    padding: 10px;
    height:500px;
    background-color: #fff;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
    
}
#containers{
    margin: auto;
    color: #ff6332;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
    z-index: 20;
    height: 500px;
    display: none;
}
.text{
    width:80%;
    margin: auto;
    margin-top: 20%;
    display: block;
    font-size: 20px;
    color: black;
    color: #410ca3;
    font-weight: bold;
    border: 3px solid rgb(27, 13, 90);
    border-radius: 50px;
}
table{
 margin: auto;
 margin-top: 5%;
}
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    display: none; 
    top: 0;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 355ms ease-in-out;
    transition: opacity 355ms ease-in-out;
}
.first {
    height: 100px;
    width: 100px;
    margin-right:10%;
    color: red;
 
}
.second {
    height: 100px;
    width: 100px;
    margin-left:10%;
    color: blue;
}
.containerOutputs{
    width:50%;
    border: 3px solid green;
    padding: 10px;
    height:200px;
    right: 0;
    top: 0;
    z-index:5;
    position: fixed;
  
}
#text{
    color:red;
    
    
}
#output{
    color:green;
}
.heading{
    color: #ff6332;
}

/* HEADER */

header nav#top {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
    height: 70px;
}

header nav#top .topbar {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 1em;
}

header nav#top .topbar svg.menu {
    width: 28px;
    height: 28px;
    fill: #fff;
    border-radius: 50%
}

.logoimg {
    height: 20px;
    width: 20px;
}

header nav#top .topbar svg.menu:hover {
    background: rgba(0, 0, 0, 0.1)
}

.logo {
    font-size: 20px !important;
    text-align: center;
    margin: auto;
    font-size: 25px;
    letter-spacing: 1px;
    color: #ff6332;
}
 a{
    list-style-type: none;
    text-decoration: none;
}

.link-list {
    text-align: center;
}

li {
    color: #fff;
    height: 32px;
    display: inline-block;
    padding: 10px 11px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
}

@media (max-width: 756px) {
    li {
        padding: 10px 3px;
    }
}
/* Footer  */

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 69px;
    background: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 225ms ease-in-out;
    overflow: hidden;
}

.footerLogo {
    text-align: center;
    padding: 25px;
    color: #ff6332;
}
